<md-toolbar style="height: 64px;background: #E0E0E0">
    <h2 class="md-toolbar-tools" style="padding-left: 24px">
        <img ng-click="toggleLeft()" ng-src="img/ic_menu_24px.svg" alt=""/>
    </h2>
</md-toolbar>
<md-toolbar style="height: 80px;background: #E0E0E0;box-shadow: 0 2px rgba(0,0,0,0.2);">
    <div layout="row">
        <h2 class="md-toolbar-tools" style="padding-left: 104px">
            <a href=""><span ng-click="toggleLeft()">Echecs</span></a>
        </h2>
    </div>
</md-toolbar>